@import '../theme/variables.css';

.zui-select{
  & .zui-select-item{
    &.is-selected{
      background-color: var(--color-primary);
      color: var(--color-base-white);
    }
  }
}

.zui-select-arraw{
  position: absolute;
  right: 10px;
  top: 10px;
  transition: transform 250ms var(--ease-out);

  &.is-drop{
    transform: rotateZ(180deg);
  }
}
