@import '../theme/variables.css';

.test-wrap{
  color: var(--color-primary);

  & .test-inner{
    color: var(--color-base-white);

    &:hover{
      color: var(--color-primary);
      font-size: 30px;
    }
  }
}
