a, a:active{
  color: inherit;
  text-decoration: none;
}

.docs-menuItem{
  position: absolute;
  top: 0;
  left: 34px;
  height: 100%;
  width: 100%;
  line-height: 48px;
}

.docs-title{
  font-weight: 400;
  color: #1f2f3d;
  font-size: 22px;
  margin: 45px 0 15px;
}

.docs-desc{
  font-size: 14px;
  color: #5e6d82;
  line-height: 1.5em;
}

.docs-color-green{
  color: #13ce66;
}
