@import '../theme/variables.css';

.zui-dialog{
  position: fixed;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: var(--dialog-zIndex);
  top: 0px;
  left: -10000px;
  width: 100%;
  height: 100%;
  transition: left 0ms var(--ease-out) 450ms;

  &.is-open{
    left: 0px;
    transition: left 0ms var(--ease-out) 0ms;
  }

  & .zui-dialog-body{
    min-height: 100px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: var(--color-base-white);
    position: absolute;
    width: 50%;
    max-width: 768px;
    left: 50%;
    top: 15%;
    z-index: var(--dialog-zIndex);
    margin-bottom: 50px;
    transform: translate(-50%, 64px);

    &.zui-dialog-tiny{
      width: 30%;
    }

    &.zui-dialog-small{
      width: 50%;
    }

    &.zui-dialog-large{
      width: 90%;
    }

    &.zui-dialog-full{
      width: 100%;
    }
  }

  & .zui-dialog-header{
    padding: 20px 20px 0;
  }

  & .zui-dialog-close{
    float: right;
    cursor: pointer;
  }

  & .zui-dialog-title{
    line-height: 1;
    font-size: 16px;
    font-weight: 700;
    color: #1f2d3d;
  }

  & .zui-dialog-content{
    padding: 30px 20px;
    color: #48576a;
    font-size: 14px;
  }

  & .zui-dialog-footer{
    padding: 10px 20px 15px;
    text-align: right;
    box-sizing: border-box;
  }

  /*animation*/
  & .zui-dialog-body.zui-dialog-enter {
    opacity: 0.01;
    transform: translate(-50%, 0);
  }

  & .zui-dialog-body.zui-dialog-enter.zui-dialog-enter-active {
    opacity: 1;
    transform: translate(-50%, 64px);
    transition: opacity 450ms var(--ease-out), transform 450ms var(--ease-out);
  }

  & .zui-dialog-body.zui-dialog-leave {
    opacity: 1;
    transform: translate(-50%, 64px);
  }

  & .zui-dialog-body.zui-dialog-leave.zui-dialog-leave-active {
    opacity: 0.01;
    transform: translate(-50%, 0);
    transition: opacity 450ms var(--ease-out), transform 450ms var(--ease-out);
  }

  & .zui-dialog-body.zui-dialog-appear {
    opacity: 0.01;
    transform: translate(-50%, 0);
  }

  & .zui-dialog-body.zui-dialog-appear.zui-dialog-appear-active {
    opacity: 1;
    transform: translate(-50%, 64px);
    transition: opacity 450ms var(--ease-out), transform 450ms var(--ease-out);
  }
}
