:root{

  /*base color*/
  --color-primary: #13ce66;
  --color-base-white: #fff;
  --color-base-black: #000;
  --color-base-grey: #efefef;
  --color-success: #20a0ff;
  --color-warning: #f7ba2a;
  --color-danger: #ff4949;
  --color-info: #50bfff;
  --color-base-text: color(var(--color-base-black) a(87%));

  /*fontsize*/
  --fontsize-small: 12px;
  --fontsize-normal: 14px;
  --fontsize-large: 16px;
  --fontsize-huge: 18px;

  /*Tween*/
  --ease-out: cubic-bezier(0.23, 1, 0.32, 1);

  /*properties*/
  --transition--all:{
    transition: all 450ms var(--ease-out) 0ms;
  }
  --popover-box-shadow:{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  }

  /*z-index*/
  --modal-layer-zIndex: 2000;

  /*others*/
  --border-radius-primary: 2px;

}

body{
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
