@import '../theme/variables.css';

.zui-shade{
  @apply --transition--all;
  color: var(--color-base-black);
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-radius: var(--border-radius-primary);

  &.z-depth-1{
    @apply --depth-shade-1;
  }

  &.z-depth-2{
    @apply --depth-shade-2;
  }

  &.z-depth-3{
    @apply --depth-shade-3;
  }

  &.z-depth-4{
    @apply --depth-shade-4;
  }

  &.z-depth-5{
    @apply --depth-shade-5;
  }

  &.circled{
    border-radius: var(--border-radius-circle);
  }
}
