@import '../theme/variables.css';

.zui-button{
  @apply --transition--all;
  background-color: var(--color-primary);
  line-height: 36px;
  height: 36px;
  padding: 0px;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  border-radius: var(--border-radius-primary);
  border: 10px;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  overflow: hidden;
  min-width: 88px;
  outline: none;
  white-space: nowrap;
  color: var(--color-base-white);
  font-family: inherit;
  font-size: var(--fontsize-normal);
  z-index: 1;

  & .zui-button_inner{
    position: relative;
    vertical-align: middle;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0 16px;
  }

  &.is-disabled{
    color: color(var(--color-base-grey) shade(26%));
    cursor: not-allowed;
    background-image: none;
    background-color: color(var(--color-base-grey) tint(20%));
    line-height: 34px;
    border: 1px solid color(var(--color-base-grey) shade(16%));
  }

  &+.zui-button{
    margin-left: 10px;
  }

  &.focused{
    background-color: color(var(--color-base-grey) tint(15%));
  }

  &+.zui-button {
    margin-left: 10px;
  }
}

.zui-button_primary{
  background-color: var(--color-primary);

  &:active{
    background-color: color(var(--color-primary) shade(10%));
  }

  &:hover,&.focused{
    background-color: color(var(--color-primary) tint(22%));
  }

}

.zui-button_info{
  background-color: var(--color-info);

  &:active{
    background-color: color(var(--color-info) shade(10%));
  }

  &:hover,&.focused{
    background-color: color(var(--color-info) tint(22%));
  }
}

.zui-button_success{
  background-color: var(--color-success);

  &:active{
    background-color: color(var(--color-success) shade(10%));
  }

  &:hover,&.focused{
    background-color: color(var(--color-success) tint(22%));
  }
}

.zui-button_warning{
  background-color: var(--color-warning);

  &:active{
    background-color: color(var(--color-warning) shade(10%));
  }

  &:hover,&.focused{
    background-color: color(var(--color-warning) tint(22%));
  }
}

.zui-button_danger{
  background-color: var(--color-danger);

  &:active{
    background-color: color(var(--color-danger) shade(10%));
  }

  &:hover,&.focused{
    background-color: color(var(--color-danger) tint(22%));
  }
}

.zui-button_text{
  background-color: var(--color-base-white);
  color: var(--color-base-text);

  &:hover{
    background-color: color(var(--color-base-grey) tint(15%));
  }
}
