@import '../theme/variables.css';

.zui-button{
  @apply --transition--all;
  background-color: var(--color-primary);
  padding: 10px 15px;
  line-height: 1;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  border-radius: var(--border-radius-primary);
  border: 1px solid var(--color-primary);
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  overflow: hidden;
  min-width: 88px;
  outline: none;
  white-space: nowrap;
  color: var(--color-base-white);
  font-family: inherit;

  & .zui-button_inner{
    position: relative;
    vertical-align: middle;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: var(--fontsize-normal);
  }

  &.is-disabled{
    color: color(var(--color-base-grey) shade(26%));
    cursor: not-allowed;
    background-image: none;
    background-color: color(var(--color-base-grey) tint(20%));
    border-color: color(var(--color-base-grey) shade(18%));
  }

  &+.zui-button{
    margin-left: 10px;
  }
}

.zui-button_primary{
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);

  &:hover{
    background-color: color(var(--color-primary) tint(15%));
    border: 1px solid color(var(--color-primary) tint(15%));
  }
}

.zui-button_info{
  background-color: var(--color-info);
  border: 1px solid var(--color-info);

  &:hover{
    background-color: color(var(--color-info) tint(15%));
    border: 1px solid color(var(--color-info) tint(15%));
  }
}

.zui-button_success{
  background-color: var(--color-success);
  border: 1px solid var(--color-success);

  &:hover{
    background-color: color(var(--color-success) tint(15%));
    border: 1px solid color(var(--color-success) tint(15%));
  }
}

.zui-button_warning{
  background-color: var(--color-warning);
  border: 1px solid var(--color-warning);

  &:hover{
    background-color: color(var(--color-warning) tint(15%));
    border: 1px solid color(var(--color-warning) tint(15%));
  }
}

.zui-button_danger{
  background-color: var(--color-danger);
  border: 1px solid var(--color-danger);

  &:hover{
    background-color: color(var(--color-danger) tint(15%));
    border: 1px solid color(var(--color-danger) tint(15%));
  }
}

.zui-button_text{
  background-color: var(--color-base-white);
  border: 1px solid var(--color-base-white);
  color: color(var(--color-base-black) a(87%));
}
