@import '../theme/variables.css';

.zui-listItem{
  @apply --transition--all;
  -webkit-appearance: none;
  color: var(--color-base-text);
  outline: none;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  display: block;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  z-index: 1;

  &.disabled{
    cursor: not-allowed;
    padding: 16px;

    &:hover{
      background: none;
    }
  }

  &:hover{
    background-color: var(--color-base-light);
  }

  & .zui-listItem-inner{
    line-height: 1;
    padding: 16px;

    & .zui-listItem-arraw{
      position: absolute;
      right: 16px;
      top: 14px;
    }
  }
}
